{% extends "secondbase.html" %}
{% block content %}
<br><br><br>

    <div style="text-align: center">
    <svg height="150" width="400" fill="none">
        <image height="150" width="400" href="../../static/m1.svg"/>
    </svg><br>

    <div class="container">

    <h1 style="color:burlywood">Welcome to the netAdept Automation platform</h1><br><br>

    <h3>
        netAdept aims to be the singlepoint where from to monitor and manage all network devices
    </h3>
    </div>
    <br><br>
    <a href="{{ url_for('about') }}" class="button" style="background-color: rgb(170, 20, 20);">About netAdept</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ url_for('about_tech') }}" class="button">Technologies used</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ url_for('about_contact') }}" class="button">Contact Information</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br><br><br><br>

    <div class="container" style="text-align: left;">
        <h2 style="color:burlywood">netAdept Features : </h2><br><br>

            <div style="padding-left: 50px">

            <li>Create an inventory of network devices.</li><br>

            <li>Create device groups allowing advanced filtering and selection of multiple devices to connect to.</li><br>

            <li>Send show commands any devices agnostic of vendor and retrieve that output. 
            Currently Cisco IOS, Juniper junos and Huawei devices are currently supported (to be expanded as per demand).</li><br>

            <li>Automate and schedule device backups and save backup files to the netAdept server for easy access.</li><br>

            <li>Manage files. Upload and download files from/to PC, netAdept and network devices.</li><br>

            <li>Manage user users that are allowed to create accounts and connect to netAdept.</li><br>

            <li>miscellaneous tools like domain and ip address lookups, subnet calculator and password generator.</li><br>

            <li>Zabbix monitoring suite is used to automatically add devices in the netAdept inventory to Zabbix.</li><br>
            
            </div>
    </div>


{% endblock content %}  