{% extends "secondbase.html" %}
{% block content %}
<br><br><br>

    <div style="text-align: center">
    <svg height="150" width="400" fill="none">
        <image height="150" width="400" href="../../static/m1.svg"/>
    </svg><br>

    <div class="container">

    <h1 style="color:burlywood">Welcome to the netAdept Automation platform</h1><br><br>

    <h3>
        netAdept aims to be the singlepoint where from to monitor and manage all network devices
    </h3>
    </div>
    <br><br>
    <a href="{{ url_for('about') }}" class="button" style="background-color: rgb(170, 20, 20);">About netAdept</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ url_for('about_tech') }}" class="button">Technologies used</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ url_for('about_contact') }}" class="button">Contact Information</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br><br><br><br>

    <div class="container" style="text-align: left;">
        <h2 style="color:burlywood">netAdept Features : </h2><br><br>

            <div style="padding-left: 50px">

<pre>

1. Device Inventory
	a. Add devices to access.
	b. Assign features to each device (Credentials, SSH ports, IP addresses.
	c. Create groups allowing filtering devices to select and features to assign to each device group.

2. Show Commands
	a. Access infromation on each device agnostic of vendor.
	b. Download output to local device.
	c. urrently Cisco IOS, Juniper junos and Huawei devices are currently supported (to be expanded as per demand). 

3. Backups
	a. Automate and schedule device backups.
	b. save backup files to the netAdept server, and delete or download as required.
	
4. File Manager
	a. Upload and download files from/to PC.
	b. Push files to devices for upgrades.
	
5. User Management
	a. Basic user management by authorising and removing email addresses.
	
6. Basic Troubleshooting
	a. Ping and Tracroute. 
	b. Dashboard showing which Inventory devices are reachable.
	
7. Resources
	a. Users, Authed emails and Inventory is saved in MongoDB. 
	b. Inventory devices are automatically added to Zabbix Monitoring platform collecting SNMP data.
	c. Build network diagrams using DrawIO.
	
8. Miscellaneous Tools
	a. DNS and IP address lookups
	b. Password Generator
	c. Subnet Calculator

</pre>
            
            </div>


    </div>


{% endblock content %}  