<!DOCTYPE html>
<html lang="en">
<head>
    <title>netAdept</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
   	<header class="header">
    </header>
</head>
<body>
<aside class="aside">
    <div>
        <br>
		<h2 class="side_heading">Create</h2>        
        <ul class="sidelist">
            <li class="active">
                <a href="{{ url_for('inventory') }}">Add/Remove Devices</a>
            </li>
            <li class="active">
                <a href="{{ url_for('edit_file') }}">Group Editor</a>
            </li>
            <li class="active">
                <a href="{{ url_for('hosts_viewer') }}">Host Viewer</a>
            </li>

        </ul>
    </div>

    <div>
        <br>
		<h2 class="side_heading">Select</h2>        
        <ul class="sidelist">
            <li class="active">
                <a href="{{ url_for('deviceselector') }}">Device Selector</a>
            </li>
            <li class="active">
                <a href="{{ url_for('groupselector') }}">Group Selector</a>
            </li>
        </ul>
    </div>
    <div>
        <br>
		<h2 class="side_heading">Show</h2>
        <ul class="sidelist">
            <li class="active">
                <a href="{{ url_for('show', show_command='config') }}">Full Configuration</a>
            </li>
            <li class="active">
                <a href="{{ url_for('show', show_command='ipint') }}">IP Interfaces</a>
            </li>
            <li class="active">
                <a href="{{ url_for('show', show_command='int') }}">Interfaces</a>
            </li>
            <li class="active">
                <a href="{{ url_for('show', show_command='route') }}">Route Table</a>
            </li>
            <li class="active">
                <a href="{{ url_for('show', show_command='arptable') }}">ARP</a>
            </li>
            <li class="active">
                <a href="{{ url_for('show', show_command='version') }}">Version</a>
            </li>  
            <li class="active">
                <a href="{{ url_for('show', show_command='syslog') }}">Syslog</a>
            </li>       
            <li class="active">
                <a href="{{ url_for('show', show_command='lldp') }}">Neighbours</a>
            </li> 
            <li class="active">
                <a href="{{ url_for('show', show_command='acl') }}">Access Lists</a>
            </li>          
            <li class="active">
                <a href="{{ url_for('show', show_command='vrrp') }}">VRRP</a>
            </li>     
            <li class="active">
                <a href="{{ url_for('show', show_command='user') }}">Users</a>
            </li> 
            <li class="active">
                <a href="{{ url_for('show', show_command='dir') }}">Dir</a>
            </li>         
            <li class="active">
                <a href="{{ url_for('show', show_command='show_int') }}">Interface Config</a>
            </li>         
            <li class="active">
                <a href="{{ url_for('show', show_command='compare') }}">Compare Config</a>
            </li>  
            <li class="active">
                <a href="{{ url_for('show', show_command='time') }}">Time</a>
            </li>            
            <li class="active">
                <a href="{{ url_for('show', show_command='environment') }}">Environment</a>
            </li>          
            <li class="active">
                <a href="{{ url_for('show', show_command='snmp') }}">SNMP</a>
            </li>            
        </ul>
    <div>
        <br>
		<h2 class="side_heading">T-Shoot</h2>        
        <ul class="sidelist">
            {% if session['singleselect'] != 'NONE' %}
            <li class="active">
                <a href="{{ url_for('ping') }}">Ping</a>
            </li>
            <li class="active">
                <a href="{{ url_for('tracepath') }}">Tracepath</a>
            </li>
            {% endif %}         
            <li class="active">
                <a href="{{ url_for('nslookup') }}">nslookup</a>
            </li>
            <li class="active">
                <a href="{{ url_for('reverse_dns') }}">Reverse DNS</a>
            </li>
            <li class="active">
                <a href="{{ url_for('domain') }}">Domain Name Lookup</a>
            </li>      
        </ul>
    </div>
        {% if session['singleselect'] != 'NONE' %}
        <h2 class="side_heading">Command Line Tool</h2>
        <ul class="sidelist">
            <li class="active">
                <svg height="18" width="35" fill="none">
                <image height="18" width="35" href="../../static/cli.svg" />
                </svg>
                <a href="{{ url_for('cli') }}">CLI</a>
            </li>   
        </ul>
        {% endif %}

        <div>
		<h2 class="side_heading">Monitoring</h2>
        <ul class="sidelist">
            <li class="active">
                <svg height="18" width="35" fill="none">
                <image height="18" width="35" href="../../static/prometheus.svg" />
                </svg>
                <a href="http://192.168.19.129:9090" target="_blank">Prometheus</a>
            </li>
            <li class="active">
                <svg height="18" width="35" fill="none"><image height="18" width="35" href="../../static/grafana.svg" /></svg>
                <a href="http://192.168.19.129:3000" target="_blank">Grafana</a>
            </li>
            <li class="active">
                <svg height="18" width="35" fill="none"><image height="18" width="35" href="../../static/snmp.svg"/></svg>
                <a href="http://192.168.19.129:9116" target="_blank">SNMP Exporter</a>
            </li>
            <li class="active">
                <svg height="18" width="35" fill="none"><image height="18" width="35" href="../../static/mongo.svg"/></svg>
                <a href="http://192.168.19.129:8081" target="_blank">Mongo Express</a>
            </li>
        </ul>
        </div>
        <h2 class="side_heading">Network Diagrams</h2>
        <ul class="sidelist">
            <li class="active">
                <svg height="18" width="35" fill="none"><image height="18" width="35" href="../../static/drawio.svg"/></svg>
                <!--a href="http://192.168.19.129:18080/" target="_blank">Draw</a-->
                <a href="https://app.diagrams.net/" target="_blank">DrawIO</a>
            </li>   
            <br>
        <div>
        <!-- There are going to be for server commands like: df -h iot monitor its status-->
		<h2 class="side_heading">Server CMDs</h2>
        <ul class="sidelist">
            <li class="active">
                <a href="{{ url_for('show', show_command='interfaces') }}">Interfaces</a>
            </li>
            <li class="active">
                <a href="{{ url_for('show', show_command='disc') }}">Disk</a>
            </li>
        </ul>
        </div>

    <br><br><br>   
</aside>

<main>
{% block content %}
{% endblock content %}  
</main>
<!--footer>Footer</footer-->
</body>
</html>

