<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% extends "secondbase.html" %}
{% block content %}
<br><br><br>
    <div class="container">
        <h2 style="color:burlywood">COMMAND LINE TOOL</h2>
        <br><br>
        <p>Please select a port number to use to connect to {{session["singleselect"]}}. <br>
            Ports in the higher range (10000+) are less likely to already be in use : </p>
        <br>
    <form method="POST"> 
        <label for="port">Select port :</label>
        <input type="text" id="port" name="port" placeholder="Port" class="select_box"><br>
        <br>
      <input  class="button" type="submit" value="Submit"><br>
    </div>
    </form>
    {% if iponly %}
    <div class="container">
        <h2 style="color:burlywood">{{session["singleselect"]}}</h2>
        <br>
        
        <a href={{terminal}} target="_blank">
            <button  class="button" >CONNECT</button>
        </a>
        <br><br>
        <a>If the "CONNECT" button does not open a link to {{session["singleselect"]}}'s CLI, then copy the below link into a browser : </a>
        <br>
        <h2 style="color:burlywood">http://{{iponly}}:{{session["port"]}}</h2>
        <br>
    </div>
    {% endif %}


</div>
<br>
<style></style>

{% endblock content %}  