{% extends "secondbase.html" %}
{% block content %}
<body>
    <div>
        <br><br><br>
        <h2 style="color:rgb(222, 184, 135)">CREATE A DEVICE </h2><br>
        <div class="container">
            <form method="POST">
                <label for="cmd1" class="labels">Command :</label>
                <input type="text" name="cmd1" placeholder="command" class="select_box" required style="width: 570px;"><br><br>
            
                <label for="cmd2" class="labels">Command :</label>
                <input type="text" name="cmd2" placeholder="command" class="select_box" style="width: 570px;"><br><br>

                <label for="cmd3" class="labels">Command :</label>
                <input type="text" name="cmd3" placeholder="command" class="select_box" style="width: 570px;"><br><br>
            
                <label for="cmd4" class="labels">Command :</label>
                <input type="text" name="cmd4" placeholder="command" class="select_box" style="width: 570px;"><br><br>

                <label for="cmd5" class="labels">Command :</label>
                <input type="text" name="cmd5" placeholder="command" class="select_box" style="width: 570px;"><br><br>
                      
                <label for="cmd6" class="labels">Command :</label>
                <input type="text" name="cmd6" placeholder="command" class="select_box" style="width: 570px;"><br><br>

                <label for="cmd7" class="labels">Command :</label>
                <input type="text" name="cmd7" placeholder="command" class="select_box" style="width: 570px;"><br><br>

                <br><br>
                <div style="text-indent: 110px;">
                    <input type="submit" value="Send" class="button" style="width: 570px;" name="add"><br><br>
                </div>
            </form>
            {% if content %}
                <div  style="text-indent: 110px;">
                    <a href="{{ url_for('download_clioutput')}}"> 
                        <input type = "submit" class="button" value="Download Output" style="width: 570px;">  
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
            {% if content %}
    <div class="container">
        <h2 style="color:rgb(222, 184, 135)">Output for {{session["singleselect"]}} : </h2><br>
        
        <pre>{{content | safe}}</pre>
    </div>
            {% endif %}
</body>
{% endblock content %}  

