<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% extends "secondbase.html" %}
{% block content %}
<br><br>

    <form method="POST"  id="confint" name="confint"> 
    <div><br>
          <span class="filters">Configuration Interface :  </span>
          <select name="part"> 
            {% for ints in intfcs %}
            <option>interface {{ ints }}</option>
            {% endfor %}
          </select>
          <a><input type="submit" class="submitbutton" value="Select" /></a> 
        </div><br>
    </form>

<div class="container">
    <h2 style="color:springgreen"> {{session["singleselect"]}}</h2>
    <br><br>
        {{results | safe}}
</div>
<br>
{% endblock content %}  