
<!DOCTYPE html>
<html lang="en">
<head>
    <title>netAdept</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>

<body style="text-align: center;">
    <br>
    <div>
    <svg height="250" width="500" fill="none">
        <image height="250" width="500" href="../../static/m1.svg"/>
    </svg><br><br>
    <a href="{{ url_for('login') }}" class="select_box">Login</a>
    <a href="{{ url_for('register') }}" class="select_box">Register</a>
    </a>
  </div>


</body>




