{% extends "secondbase.html" %}
{% block content %}
<br><br><br>
    <h2 style="color:burlywood">Upload File </h2><br><br>

    <div class="container">
        <table class="table" style="width: 500px;">
            <colgroup>
              <col style="width: 400px;">
              <col style="width: 15px;">
              <col style="width: 15px;">
              <col style="width: 15px;">
            </colgroup>
            <tr class="headings">
                {% for head in headings %}
                <th>{{head}}</th>
                {% endfor %}
            </tr>
                {% for rows in data %}
                
                    {% for cell in rows %}
                    {% set filename = cell %}
                        <tr>
                            <td>
                                {{cell}}
                            </td>
                            <td>
                                <a href="{{ url_for('filereceive_confirm', filename=filename)}}"> 
                                    <svg height="20" width="30">
                                        <image height="20" width="30" href="../static/rcv.svg" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                {% endfor %}
            {% endfor %}
        </table><br>
        <a class="button" onclick="location.reload()">Refresh</a> 
    </div>

{% endblock content %}  