<!DOCTYPE html>
<html lang="en">
<head>
    <title>netAdept</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
   	<header class="header">
    </header>
</head>
<body>
    <div style="text-align: center">
        <nav>
            <span class="head">
                <svg height="50" width="200" fill="none" >
                    <image height="50" width="200" href="../../static/m1.svg"/>
                </svg>
            </span>
        </nav>

        <br><br><br>
          <div style="color:burlywood">
            <br><br>
            <div>
            <svg height="150" width="400" fill="none">
                <image height="150" width="400" href="../../static/m1.svg"/>
            </svg>
            </div>
            <br><br>


            <div style="text-align: center;">

                <a href="{{ url_for('login') }}" class="select_box">Login</a>
                <a href="{{ url_for('register') }}" class="select_box">Register</a>
                </a>
            </div>
            <br><br>

            <span>
            <div class="logreg" >
                <form method="POST">
                
                    <label for="username">Username:</label>
                    <input type="text" name="username" placeholder="Enter username" required><br>
                
                    <label for="password">Password:</label>
                    <input type="password" name="password" placeholder="Enter password" required><br>
                
                    <input type="submit" value="Submit">
                </form>
            </div>
            </span>
        </div>            
</body>

