<!DOCTYPE html>
<html lang="en">
<head>
    <title>netAdept</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
   	<header class="header">
    </header>
</head>
<body>
    <div style="text-align: center">
        <nav>
            <span class="head">
                <svg height="50" width="200" fill="none" >
                    <image height="50" width="200" href="../../static/m1.svg"/>
                </svg>
            </span>
        </nav>

        <br><br><br>
          <div style="color:burlywood">
            <br><br>
            <div>
            <svg height="150" width="400" fill="none">
                <image height="150" width="400" href="../../static/m1.svg"/>
            </svg>
            </div>
            <br><br>
            <!--h2 class="head"> Welcome to the netAdept Automation Platform </h2> 
            <br>
            <h3 class="head" style="color:rgb(252, 250, 249)"> 
                The netAdept automation platform standardises and simplifies interacting with supported vendor nework equipment. 
                netAdept incorporates powerful open source technologies to monitor and interact with network equipment, provideing a 
                singlepoint from where the network can be planned from. </h3> 
            </div>
            <br>
            <div>
            {% for msg in get_flashed_messages() %}
            {% if msg %}
            <div class="container">{{msg}}</div>
            {% endif %}
            {% endfor %}
            </div-->
            <span>
            <div class="container" >
                <form method="POST">
                
                    <label for="username">Please enter your username:</label>
                    <input type="text" name="username" placeholder="Enter username" required><br>
                
                    <label for="password">Please enter your password:</label>
                    <input type="password" name="password" placeholder="Enter password" required><br>
                
                    <input type="submit" value="Submit">
                </form>
            </div>
            </span>
        </div>            
</body>

