<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% extends "secondbase.html" %}
{% block content %}
<br><br>


<h3>Select the Napalm Getter to run: </h3><br>
  <div class="container">
      <form method="POST"  id="getter" name="getter"> 
          <span class="filters"> Getter: </span>  
              <select id="getter" name="getter"> 
                <option>get_bgp_config</option>			
                <option>get_bgp_neighbors</option>		
                <option>get_bgp_neighbors_detail</option>
                <option>get_config</option>				
                <option>get_environment</option>			
                <option>get_facts</option>				
                <option>get_interfaces</option>			
                <option>get_interfaces_counters</option>	
                <option>get_interfaces_ip</option>		
                <option>get_lldp_neighbors</option>		
                <option>get_lldp_neighbors_detail</option>
                <option>get_mac_address_table</option>	
                <option>get_network_instances</option>	
                <option>get_ntp_peers</option>			
                <option>get_ntp_servers</option>			
                <option>get_ntp_stats</option>			
                <option>get_optics	</option>			
                <option>get_probes_config</option>		
                <option>get_snmp_information</option>	
                <option>get_users</option>				
                <option>get_vlans</option>				
                <option>is_alive</option>				
                <option>ping</option>					
                <option>traceroute</option>		
              </select>
            <a><input type="submit" class="submitbutton" value="submit" action="#"/></a> 
      </form> 
  </div>

<div class="container">
    <h2 style="color:springgreen"> {{session["singleselect"]}}</h2>
    <br><br>
        {{results | safe}}
</div>
<br>
{% endblock content %}  
