{% extends "secondbase.html" %}
{% block content %}
<body>
    <div>
        <br><br><br>
        <h2 style="color:rgb(222, 184, 135)">Network Calculator</h2><br>
        <div class="container">
            <form method="POST">

                <label for="length">Network :</label>
                <input type="text" name="netwrk" placeholder="Network" class="select_box" required>
                <input type="submit" value="Submit" class="button" name="add">
            </form>
<br><br><br>
{% if Network_Address %}
<div>
    <h3 style="color:rgb(222, 184, 135)">Selected Network: {{ip_cidr}}</h3><br>
    <pre>
    Network_Address:    {{Network_Address}}
    Broadcast_Address:  {{Broadcast_Address}}
    Subnet_Mask:        {{Subnet_Mask}}
    Total_Hosts:        {{Total_Hosts}}
    Usable_Hosts:       {{Usable_Hosts}}
    First_Usable_IP:    {{First_Usable_IP}}
    Last_Usable_IP:     {{Last_Usable_IP}}
    </pre>
<div>
{% endif %}
   

        </div>

</body>
{% endblock content %}  

