{% extends "secondbase.html" %}
{% block content %}
<div>
    <br><br><br>
    <div class="container">
      <h2 style="color:rgb(222, 184, 135)">DOMAIN LOOKUP  </h2><br><br>

    <form method="POST"  id="ymlform" name="ymlform"> 

        <label for="ipadd">Lookup Domain :</label>
        <input type="text" id="ipadd" name="ipadd" placeholder="Domain Name" class="select_box"><br>
        <br>
      <input type="submit" value="Lookup" class="button"><br>
    </div>
    </form>
</div>
{% if results %}
<div class="container">
    <br><br>
        <pre>{{results | safe}}</pre>
</div>
{% endif %}

{% endblock content %}  