{% extends "secondbase.html" %}
{% block content %}
<body>
    <div>
        <br><br><br>
        <h2 style="color:rgb(222, 184, 135)">Generate a Password </h2><br>
        <div class="container">
            <form method="POST">

                <label for="length">Length :</label>
                <input type="text" name="length" placeholder="Password Length" class="select_box" required><br><br>

                <label for="ascii">Letters :</label>
                <input type="checkbox" id="ascii" name="passgen" value="letters">

                <label for="digits" >Numbers :</label>
                <input type="checkbox" id="digits" name="passgen" value="digits">
            
                <label for="punctuation">Punctuation :</label>
                <input type="checkbox" id="punctuation" name="passgen" value="punctuation">

                <br><br>
                <div>
                    <input type="submit" value="Generate" class="button" name="add"><br><br>
                </div>
            </form>
        </div>

            {% if password %}
            <h2 style="color:rgb(222, 184, 135)">Password: </h2><br>
            <div class="container">
            {{pw}}
            </div>
            {% endif %}

</body>
{% endblock content %}  

