<!DOCTYPE html>
<html lang="en">
<head>
    <title>netAdept</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="icon" href="../../static/mynah_circle.png" type="image/png">
   	<header class="header">
    </header>
</head>
<body>
<nav>
    <a href="{{ url_for('dash') }}">
        <svg height="50" width="200" fill="none" >
            <image height="50" width="200" href="../../static/m1.svg"/>
        </svg>
    </a>
    <span class="sesh">PUBLIC IP : {{session["svr_ip"]}}</span>

    <a href="{{ url_for('deviceselector') }}">
        <span class="sesh">DEVICE : {{session["singleselect"]}} </span>
    </a>
    <a href="{{ url_for('groupselector') }}">
    <span class="sesh">GROUPS : {{session["groupselectOne"]}}     {{session["groupselectTwo"]}} </span>
    </a>
    <div>
    {% if session['username'] %}
    <h2 class="head" style="color:burlywood">USER: {{session["username"]}}</h> 
    {% endif %}
    </div>
    <div>
        <ul>
	        <a href="{{ url_for('about') }}"><h2>About</h2></a>
        </ul>
    </div>
    <div>
        <ul>
	        <a href="{{ url_for('logout') }}"><h2>Log Out</h2></a>
        </ul>
    </div>
</nav>

<aside class="aside">

    <div>
        <br><br><br><br>
        <details>
        <summary class="side_heading">Create</summary>
        <ul class="sidelist">
            <li class="active">
                <a href="{{ url_for('inventory') }} " title="Add and remove devices to send scripts to">Add/Remove Devices</a>
            </li>
            <li class="active">
                <a href="{{ url_for('edit_file') }}" title="Edit the group files to filter device selections">Group Editor</a>
            </li>
            <li class="active">
                <a href="{{ url_for('hosts_viewer') }}" title="View added devices">Host Viewer</a>
            </li>
            <li class="active">
                <a href="{{ url_for('authed_users') }}" title="Authorise user emails to set up an account">Authorise Users</a>
            </li>
        </ul>
        </details>
    </div>
    <br>
    <div>
        <details>
        <summary class="side_heading">Select</summary>
        <ul class="sidelist">
            <li class="active">
                <a href="{{ url_for('deviceselector') }}" title="Select which device you want to send scripts to">Device Selector</a>
            </li>
            <li class="active">
                <a href="{{ url_for('groupselector') }}" title="Select which group of devices you want to send scripts to">Group Selector</a>
            </li>
        </ul>
        </details>
        <br>

    </div>
    <div>
        <details>
        <summary class="side_heading">Show</summary>
        <br>

        <details style="padding-left: 2em;">
        <summary class="side_heading">Configuration</summary>
        <ul class="sidelist">
            <li class="active">
                <a href="{{ url_for('show', show_command='config') }}" title="Display the selected devices active(running) configuration">Full Configuration</a>
            </li>  
            <li class="active">
                <a href="{{ url_for('show', show_command='compare') }}">Compare Config</a>
            </li>              
            
        </ul>
        </details>
        <br>

        <details style="padding-left: 2em;">
        <summary class="side_heading">Interfaces</summary>
        <ul class="sidelist">
            </li>
            <li class="active">
                <a href="{{ url_for('show', show_command='ipint') }}">IP Interfaces</a>
            </li>
            <li class="active">
                <a href="{{ url_for('show', show_command='int') }}">Interfaces</a>
            </li>    
            <li class="active">
                <a href="{{ url_for('show', show_command='vrrp') }}">VRRP</a>
            </li>  
            <li class="active">
                <a href="{{ url_for('show', show_command='show_int') }}">Interface Config</a>
            </li>  
            
        </ul>
        </details>
        <br>
        <details style="padding-left: 2em;">
        <summary class="side_heading">Routing</summary>
        <ul class="sidelist">
            <li class="active">
                <a href="{{ url_for('show', show_command='route') }}">Route Table</a>
            </li>            
        </ul>
        </details>
        <br>

        <details style="padding-left: 2em;">
        <summary class="side_heading">System</summary>
        <ul class="sidelist">
            <li class="active">
                <a href="{{ url_for('show', show_command='version') }}">Version</a>
            </li>  
            <li class="active">
                <a href="{{ url_for('show', show_command='syslog') }}">Syslog</a>
            </li>      
            <li class="active">
                <a href="{{ url_for('show', show_command='time') }}">Time</a>
            </li>            
            <li class="active">
                <a href="{{ url_for('show', show_command='environment') }}">Environment</a>
            </li>  
            <li class="active">
                <a href="{{ url_for('show', show_command='dir') }}">Dir</a>
            </li>      
            <li class="active">
                <a href="{{ url_for('show', show_command='history') }}">History</a>
            </li>      
        </ul>
        </details>
        <br>
        <details style="padding-left: 2em;">
        <summary class="side_heading">Security</summary>
        <ul class="sidelist">
            <li class="active">
                <a href="{{ url_for('show', show_command='acl') }}">Access Lists</a>
            </li>     
            <li class="active">
                <a href="{{ url_for('show', show_command='user') }}">Users</a>
            </li>    
        </ul>
        </details>
        <br>

        <details style="padding-left: 2em;">
        <summary class="side_heading">Discovery</summary>
        <ul class="sidelist">
            <li class="active">
                <a href="{{ url_for('show', show_command='arptable') }}">ARP</a>
            </li>
            <li class="active">
                <a href="{{ url_for('show', show_command='lldp') }}">Neighbours</a>
            </li>
            <li class="active">
                <a href="{{ url_for('show', show_command='snmp') }}">SNMP</a>
            </li>    
        </ul>
        </details>
        <br>
        </details>
        <br>

        {% if session['singleselect'] != 'NONE' %}
        <details>
        <summary class="side_heading">Connect</summary>
        <ul class="sidelist">
            <li class="active">
                <svg height="16" width="25" fill="none">
                <image height="16" width="25" href="../../static/cli.svg" />
                </svg>
                <a href="{{ url_for('cli') }}">CLI</a>
            </li>   
            <li class="active">
                <svg height="16" width="25" fill="none">
                <image height="16" width="25" href="../../static/clitool.svg" />
                </svg>
                <a href="{{ url_for('cli_tool') }}">CLI Tool</a>
            </li>   

            <li class="active">
                <svg height="16" width="25" fill="none">
                <image height="16" width="25" href="../../static/fortinet.svg" />
                </svg>
                <a href="{{ url_for('fortinet') }}">Fortinet</a>
            </li>   
        </ul>
        <br>
        </details>
        <br>
        {% endif %}

        <div>
        <details>
        <summary class="side_heading">File Manager</summary>
        <ul class="sidelist">
            <li class="active">
                <a href="{{ url_for('upload') }}">Upload/Download</a>
            </li>  
        {% if session['singleselect'] != 'NONE' %}
            <li class="active">
                <a href="{{ url_for('filefromdevice') }}">Pull from Device</a>
            </li> 
        {% endif %}   
        </ul>
        </details>
        </div>
        <div>
        <br>
        <details>
        <summary class="side_heading">Misc Tools</summary>
        <ul class="sidelist"> 
            <li class="active">
                <a href="{{ url_for('nslookup') }}">nslookup</a>
            </li>
            <li class="active">
                <a href="{{ url_for('reverse_dns') }}">Reverse DNS</a>
            </li>
            <li class="active">
                <a href="{{ url_for('domain') }}">Domain Name Lookup</a>
            </li>      
            <li class="active">
                <a href="{{ url_for('passgen') }}">Password Generator</a>
            </li>    
            <li class="active">
                <a href="{{ url_for('netwkcalc') }}">Subnet Calculator</a>
            </li>    
        </ul>
        </details>

        </div>

        {% if session['singleselect'] != 'NONE' %}

        <div>
        <br>
        <details>
        <summary class="side_heading">T-Shoot</summary>
        <ul class="sidelist">         
            <li class="active">
                <a href="{{ url_for('ping') }}">Ping</a>
            </li>
            <li class="active">
                <a href="{{ url_for('tracepath') }}">Tracepath</a>
            </li>    
        </ul>
        </details>

        </div>

        {% endif %}         

        

        <div>
        <br>
        <details>
        <summary class="side_heading">Backups</summary>
        <ul class="sidelist">   
            {% if session['singleselect'] != 'NONE' %}      
            <li class="active">
                <a href="{{ url_for('backups') }}">Backup Files</a>
            </li>
            {% endif %}   
            <li class="active">
                <a href="{{ url_for('schedule') }}">Schedule</a>
            </li>
            <li class="active">
                <a href="{{ url_for('show_bkps') }}">Select Info</a>
            </li>
        </ul>
        </details>
        </div>
        <br>

        <div class="side_heading">
            <a href="{{ url_for('mon_mong_draw') }}">
                <label>Resources:</label>
                <br>
                <br>
                <a href="{{ url_for('mon_mong_draw') }}">

                    <li class="active">
                        <svg height="20" width="40" fill="none">
                        <image height="20" width="40" href="../../static/zabbix.svg" />
                        </svg>
                        <label>Zabbix</label><br>

                        <svg height="20" width="40" fill="none"><image height="20" width="40" href="../../static/mongo.svg"/></svg>
                        <label>Mongo Express</label><br>

                        <svg height="18" width="35" fill="none"><image height="18" width="35" href="../../static/drawio.svg"/></svg>
                        <label>DrawIO</label><br>
                    </li>
                    <br>
                </a>
            </a>  
        </div>

    <br><br><br>   
</aside>

<main>
{% block content %}
{% endblock content %}  
</main>
<!--footer>Footer</footer-->
</body>
</html>

