<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% extends "secondbase.html" %}
{% block content %}
<br><br><br>

<div class="container">

    {% if "reached" not in results %}
    <h2 style="color:rgb(131, 9, 15)">{{session["singleselect"]}} is not reachable !!!</h2>
    {% endif %}
    {% if "reached" in results %}
    <h2 style="color:burlywood">{{session["singleselect"]}} is UP</h2>
    {% endif %}
    <br><br>
        <pre>{{results | safe}}</pre>
</div>
<br>
<style></style>

{% endblock content %}  