{% extends "secondbase.html" %}
{% block content %}

<br><br>    
    <div class="container">
      <h2 style="color:rgb(222, 184, 135)">DOMAIN LOOKUP  </h2><br><br>

    <form method="POST"  id="ymlform" name="ymlform"> 

        <label for="domain">Lookup Domain :</label>
        <input type="text" id="domain" name="domain" placeholder="Domain Name" class="select_box"><br>
        <br>
      <input type="submit" value="Lookup" class="button"><br>
    </div>
    </form>

<div class="container">
    {% if results %}
    <br><br>
        <pre>{{results | safe}}</pre>
    {% endif %}
</div>

{% endblock content %}  