{% extends "secondbase.html" %}
{% block content %}
<br><br><br>

    <div style="text-align: center">
    <svg height="150" width="400" fill="none">
        <image height="150" width="400" href="../../static/m1.svg"/>
    </svg><br>

    <div class="container">

    <h1 style="color:burlywood">Welcome to the netAdept Automation platform</h1><br><br>

    <h3>
        netAdept is a python based web UI that uses various open source technologies to simplify connecting to network devices and pull information from these devices.
        The aim is to be agnostic of all network device vendors and draw out any required information in the most direct way in order to enable network engineers to correct 
        any network issues as quickly as possible.
    </h3>
    </div>
    <br><br>
    <h2 style="color:burlywood">Technologies used: </h2><br>
        <div class="about">
            <div>
                <a href="https://nornir.tech/" target="_blank">
                    <svg height="125" width="130" fill="none">
                        <image height="125" width="130" href="../../static/logo_nornir.svg" />
                    </svg><br>
                <span>Nornir - Network automation framework</span><br>
            </a>
            </div>
            <div>
                <a href="https://github.com/ktbyers/netmiko" target="_blank">
                    <svg height="125" width="130" fill="none">
                        <image height="125" width="130" href="../../static/logo_netmiko.svg" />
                    </svg><br>
                <span>netmiko - Python based SSH library</span><br>
            </a>
            </div>
            <div>
                <a href="https://github.com/carlmontanari/scrapli" target="_blank">
                    <svg height="125" width="130" fill="none">
                        <image height="125" width="130" href="../../static/logo_scrapli.svg" />
                    </svg><br>
                <span>Scrapli - Python based SSH library</span><br>
                </a>
            </div>
            <div>
                <a href="https://www.zabbix.com/" target="_blank">
                    <svg height="125" width="130" fill="none">
                        <image height="125" width="130" href="../../static/logo_zabbix.svg" />
                    </svg><br>
                 <span>Zabbix - monitoring suite</span><br>
                </a>
            </div>
            <div>
                <a href="https://www.mongodb.com/" target="_blank">
                    <svg height="125" width="130" fill="none">
                        <image height="125" width="130" href="../../static/mongo.svg" />
                    </svg><br>
                <span>MongoDB - database</span><br>
                </a>
            </div>
            <div>
                <a href="https://github.com/yudai/gotty" target="_blank">
                <svg height="125" width="130" fill="none">
                <image height="125" width="130" href="../../static/logo_gotty.svg" />
                </svg><br>
                <span>GoTTY -  web base command line tool</span>
            </a>
            </div>
            <div>
                <a href="https://app.diagrams.net/" target="_blank">
                <svg height="100" width="110" fill="none">
                <image height="100" width="110" href="../../static/drawio.svg" />
                </svg><br><br>
                <span>DrawIO -  Diagramming tool </span>
            </a>
            </div>

    </div>
    <br><br>
    </div>
    <div class="container">
        <h2 style="color:burlywood">Contact Info: </h2><br>
        <h2> Email: sean.brown@netadept.co.uk </h2> <br>
        <a href="mailto:sean.brown@netadept.co.uk?subject=netAdept%20Inquiry&body=Message:" class="button">Send Email</a>   
    </div>

    <div class="container">
        <h2 style="color:burlywood">Licensing : </h2><br>
        <p>
            Nornir is licensed under the Apache Software License (Apache-2.0).
            This permissive open-source license allows for free use, modification, and distribution of the software, including for commercial purposes, as long as the license terms are followed. Key points of the license include:
        </p><br>
        <p>

            No attribution required for redistribution. 
            Patent grants from contributors.
            No warranty — the software is provided "as is".
            Limitation of liability — contributors are not liable for damages arising from use.
            The license is clearly stated in the project's GitHub repository and PyPI page, and the full text is available at http://www.apache.org/licenses/LICENSE-2.0. 
        </p><br>
        <p>
            Netmiko is released under the MIT License (MIT), which is a permissive open-source software license.  This allows for free use, modification, and distribution of the software, even for commercial purposes, as long as the original copyright and license notice are included. 
        </p><br>
        <p>
            scrapli is licensed under the MIT License.
            This permissive open-source license allows for free use, modification, and distribution of the software, even in proprietary applications, as long as the original copyright and license notice are included. The license is approved by both the Open Source Initiative (OSI) and the Free Software Foundation. 
        </p><br>
        <p>
            Zabbix is released under the GNU Affero General Public License version 3 (AGPLv3). 
            Software License: All versions of Zabbix from 7.0 onward are released under the AGPLv3, which ensures that modifications made available over a network must also be shared under the same license. 
            Commercial Use: Zabbix is free to use for both commercial and non-commercial purposes. While no license fee is required, the company encourages support through paid technical services for commercial users.
        </p>
        <p>
            MongoDB, Inc.’s Server Side Public License (for all versions released after October 16, 2018, including patch fixes for prior versions).
            Our goal in selecting the Server Side Public License (SSPL) v1.0, a license introduced by MongoDB, as our license is to require that enhancements to MongoDB be released to the community. 
            We also make our drivers available under the Apache License v2.0.
        </p><br>
        <p>
            draw.io is licensed under the Apache License 2.0, which is a permissive open-source license allowing free use, modification, and distribution of the software, even for commercial purposes
        </p>
    </div>


{% endblock content %}  