{% extends "secondbase.html" %}
{% block content %}
<body>
    <br><br><br>
    <div>
        <h2 style="color:rgb(222, 184, 135)">Add emaill address to authorise: </h2><br>
        <br>
        <div class="container">
            <form method="POST">
                <label for="email">Enter email address to authorise:</label>
                <input type="email" name="email" placeholder="Enter email" class="select_box" required>
                <br><br><br>            
                <input type="submit" value="Authorise"  class="button">
            </form>
        </div>
    </div>


    <br>
    <h2 style="color:rgb(222, 184, 135)">Authorised emaill addresses: </h2><br>
    <br>


    <div class="container">
        <table class="table">
            <tr class="headings">
                {% for head in headings %}
                <th>{{head}}</th>
                {% endfor %}
            </tr>

            {% for rows in data %}
            {% set devicename = rows[0] %}
                <tr>
                    {% for cell in rows %}
                    <td>
                        {{cell}}
                    </td>
                    {% endfor %}
                    <td>
                        <!--a href="http://192.168.19.129:15000/del_select/{{rows[0]}}"-->
                        <a href="{{ url_for('del_auth', devicename=devicename)}}"> 
                            <svg height="25" width="35">
                                <image height="20" width="30" href="../static/delete.svg" />
                            </svg>
                        </a>
                    </td>
                    <!--td>{{rows[0]}}</td-->
                </tr>
            {% endfor %}
        </table><br>
        <a href="{{ url_for('authed_users') }}" class="button">Update</a> 
    </div>


</body>
{% endblock content %}  