{% extends "secondbase.html" %}
{% block content %}
<br><br><br>

    {% if data %}
    <h2 style="color:burlywood">Backup files for :  {{session["singleselect"]}}  </h2><br><br>
    <div class="container">
        <table class="table" style="width: 500px;">
            <colgroup>
              <col style="width: 8000px;">
              <col style="width: 15px;">
              <col style="width: 15px;">
            </colgroup>

            <tr class="headings">
                {% for head in headings %}
                <th>{{head}}</th>
                {% endfor %}
            </tr>
            {% for rows in data %}
            {% set filename = rows[0] %}
                <tr>
                    {% for cell in rows %}
                    <td>
                        {{cell}}
                    </td>
                    {% endfor %}
                    <td>
                        <a href="{{ url_for('delete_backups', filename=filename)}}"> 
                            <svg height="25" width="35">
                                <image height="20" width="30" href="../static/delete.svg" />
                            </svg>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('download_backups', filename=filename)}}"> 
                            <svg height="30" width="40">
                                <image height="30" width="40" href="../static/download.svg" />
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table><br>
    </div>
    {% else %}
    <br><br><br><br>
    <div class="container">
    <h1 style="color:rgb(107, 29, 15); text-align:center" >No Backup files for {{session["singleselect"]}}  </h1><br><br>
    </div>
    {% endif %}

{% endblock content %}  