<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% extends "secondbase.html" %}
{% block content %}
<br><br><br>
    <link rel="stylesheet" href="../../static/CSS/style.css">
<div class="container">
    <div style="text-align: right">
        <a href="{{ url_for('download_output')}}"> 
            <input type = "submit" class="button" value="Download Output">  
        </a>
    </div>
    {% if session['singleselect'] != 'NONE' %}
    <h2 style="color:burlywood">DEVICE :    {{session["singleselect"]}}</h2>
    {% else %}
    <h2 style="color:burlywood"> GROUPS :    {{session["groupselectOne"]}}  &  {{session["groupselectTwo"]}} </h2>
    {% endif %}
    <h2 style="color:burlywood">SCRIPT :    {{show_command}}</h2>
    <br>
    <pre>{{content | safe}}</pre>

</div>
<br>
{% endblock content %}  