{% extends "secondbase.html" %}
{% block content %}
<br><br><br>
    <div class="container">
        {% if platform == "fortinet" %}
        <h2 style="color:burlywood">Connecting to Fortinet Device:  {{session["singleselect"]}}</h2>
        <br>
        <h3>Please ensore that web UI has been enabled on the fortinet device </h3>
        <br>
        <a href="https://{{device_ip}}" target="_blank">
        <button  class="button" >CONNECT</button>
        </a>
        {% else %}
        <h3 style="color:rgb(214, 103, 75)"> Please ensure that you have selected a Fortinet device as this feature is not supported for other device types </h3>
        {% endif %}
        <br><br>

    </div>

{% endblock content %}  