{% extends "dashboard.html" %}


{% block content %}

<div>
    <link rel="stylesheet" href="../static/CSS/sthyle.css">
    <!--nav>
        <h2>NavBar</h2>

    </nav-->
    <aside class="aside">
        <h2>SideBar</h2>

    </aside>

    <main class="main">
        <h2>Main</h2><br>
        <p>
            A Histogram is a bar representation of data  that varies over a range. 
            It plots the height of the data belonging to a range along the y-axis and the range along the x-axis. 
            Histograms are used to plot data over a range of values. 
            They use a bar representation to show the data belonging to each range. Let's again use the ‘Iris’ data which contains information about flowers to plot histograms.
        </p>


    </main>

    <footer>
        <h2>Footer</h2>
    </footer>

</div>
{% endblock content %}

</html>