{% extends "secondbase.html" %}
{% block content %}
<div>
    <br><br><br>  
    <div class="container">
      <h2 style="color:rgb(222, 184, 135)">REVERSE DOMAIN LOOKUP  </h2><br><br>

    <form method="POST"  id="ymlform" name="ymlform"> 

        <label for="address">Lookup IP Address :</label>
        <input type="text" id="address" name="address" placeholder="IP Address" class="select_box"><br>
        <br>
      <input type="submit" value="Lookup" class="button"><br>
    </div>
    </form>
    </div>

<div class="container">
    {% if results %}
    <br><br>
        <pre>{{results | safe}}</pre>
    {% endif %}
</div>

{% endblock content %}  