{% extends "secondbase.html" %}
{% block content %}
<br><br>
<div class="container">
<span class="headings">{{session["singleselect"]}} </span>
<table class="table">
    <tr class="headings">
        {% for head in headings %}
        <th>{{head}}</th>
        {% endfor %}
    </tr>

    {% for rows in data %}
        <tr>
            {% for cell in rows %}
            <th>{{cell}}</th>
            {% endfor %}
        </tr>
    {% endfor %}

</table>
</div>

{% endblock content %}  

