<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
   	<header class="header">
    </header>
</head>
<body>
  <nav>
    <ul class="sidebar">
      <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg></a></li>
      <li><a href="{{ url_for('deviceselector') }}">Device Selector</a></li>

      {% if session['username'] %}
      <li><a href="{{ url_for('logout') }}">logout</a></li>
      {% else %}
      <li><a href="{{ url_for('login') }}">Login</a></li>
      <li><a href="{{ url_for('register') }}">Register</a></li>
      {% endif %}


    </ul>
    <ul>
      <li class="logo"><a href="{{ url_for('dashboard') }}">netAdept</a></li>
      <li class="hideOnMobile"><a href="{{ url_for('deviceselector') }}">Device Selector</a></li>

      {% if session['username'] %}
      <li><a href="">{{session["username"]}}</a></li>
      <li><a href="{{ url_for('logout') }}">logout</a></li>
      {% else %}
      <li><a href="{{ url_for('login') }}">Login</a></li>
      <li><a href="{{ url_for('register') }}">Register</a></li>
      {% endif %}

      <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg></a></li>
    </ul>
  </nav>

  <script>
    function showSidebar(){
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'flex'
    }
    function hideSidebar(){
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'none'
    }
  </script>

<main>
{% block content %}
{% endblock content %}  
</main>
</body>
</html>

